@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

/*Обнуление*/

*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,body{
	height: 100%;
	font-family: 'Didact Gothic', sans-serif;
}





/*Preloader*/

.preloader {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: white;
      z-index: 1001;
    }

.preloader__row {
      position: relative;
      top: 50%;
      left: 50%;
      width: 70px;
      height: 70px;
      margin-top: -35px;
      margin-left: -35px;
      text-align: center;
      animation: preloader-rotate 1s infinite linear;
    }

.preloader__item {
      position: absolute;
      display: inline-block;
      top: 0;
      background-color: #337ab7;
      border-radius: 100%;
      width: 35px;
      height: 35px;
      animation: preloader-bounce 2s infinite ease-in-out;
    }

.preloader__item:last-child {
      top: auto;
      bottom: 0;
      animation-delay: -1s;
    }

@keyframes preloader-rotate {
      100% {
        transform: rotate(360deg);
      }
    }

@keyframes preloader-bounce {
      0%,
      100% {
        transform: scale(0);
      }

      50% {
        transform: scale(1);
      }
    }

.loaded_hiding .preloader {
      transition: 0.3s opacity;
      opacity: 0;
    }

.loaded .preloader {
      display: none;
    }





/*Header details triangle*/

summary::after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	margin-left: 5px;
	vertical-align: middle;
	border-top: 8px dashed;
	border-top: 8px solid\9;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}
details[open] summary::after{
    border-top: 0;
    border-bottom: 8px solid black;
 }





/*Header*/

.container{
	max-width: 90%;
	margin: 0px auto;
	padding: 0px 100px;
}

.header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: white;
	border: 1px solid white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.header__body{
	justify-content: space-between;
	position: relative;
	z-index: 2;
	display: flex;
	height: 80px;
	align-items: center;
}

.header__logo{
	overflow: hidden; 
}

.header__logo img{
	height:100px;
	display: block;
}

.header__name_my{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 40px;
	line-height: 63px;
	color: #1400FF;
}

.header__name_asp{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 40px;
	line-height: 63px;
	color: #FF0000;
	margin-left: 6px;
}

.header__burger{
	z-index: 3;
}

summary{
	list-style: none;
}
  
 summary::-webkit-details-marker {
	display: none;
}

.detail__body{
	width: 140px;
    cursor: pointer;
}

.detail__summary{
	cursor: pointer;
	text-align: center;
}

.detail__summary_img{
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
}

.header__menu{
	position: fixed;
	top: 75px;
	max-width: 40%;
	width: auto;
	right: 1%;
	max-height: 90%;
	height: auto;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	z-index: 2;
}

.header__list{
	display: block;
	position: relative;
	z-index: 2;
}

.header__list li:hover{
	border-radius: 6px;
	transition: background-color .15s ease-in-out;
	background-color: #f0f0f0;
}

.header__list li{
	list-style: none;
	padding: 0px 20px;
}

.header__link{
	display: block;
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 40px;
	text-align: left;
	color:#545454;
	text-transform: uppercase;
	text-decoration: none;
}





/*Content*/
								
.content{
	width: 70%;
	margin: 0px auto;
	padding-top: 150px;
}

.content_text{
	width: 100%;
}

.buttons{
    display: flex;
}

.button_add .btn_style{
    display: block;
    width: min-content;
    margin: 0 auto;
    margin-bottom: 40px;
}

.form_group{
	margin: auto 0;
}

.btn_style{
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	display: inline-block;
	height: min-content;
	margin: auto 0;
    margin-right: 20px;
	text-decoration: none;
	cursor: pointer;
	width: max-content;
	color:#212529;
	white-space: nowrap;
	background-color:#f8f9fa;
	border-color:#f8f9fa;
	text-align:center;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	border:2px solid transparent;
	padding:.375rem 2rem;
	font-size:1rem;
	line-height: 1.7rem;
	border-radius:.25rem;
	transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.btn_style:hover{
	color:#212529;
	background-color:#e2e6ea;
	border-color:#dae0e5;
}
.btn_style.focus,.btn_style:focus{
	color:#212529;
	background-color:#f8f9fa;
	border-color:#dae0e5;
}

.content_buttons{
	width: max-content;
	margin: 0 auto;
}
.content_buttons .btn_style{
	width: 100%;
	word-wrap: break-word;
}



.delete,.submit{
	font-family: "Roboto", sans-serif;
	font-weight: 400;
    opacity: 1;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	margin-top: 8px;
	width: 100%;
	color:#212529;
	background-color:#f8f9fa;
	border-color:#f8f9fa;
	text-align:center;
    vertical-align: middle;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	border:3px solid transparent;
	padding:.375rem 2rem;
	line-height:1.5;
	font-size:1rem;
	border-radius:.25rem;
    transition: all 0.4s ease-in-out;
}

.submit:hover{
	color:#212529;
	background-color:#4CAF5090;
	border-color:#4caf504f;
}
.delete:hover{
	color:#212529;
	background-color:#f4433690;
	border-color:#f443364f;
}

.submit.focus,.submit:focus{
	color:#212529;
	background-color:#f8f9fa;
	border-color:#4caf504f;
}
.delete.focus,.delete:focus{
	color:#212529;
	background-color:#f8f9fa;
	border-color:#f443364f;
}



/*Drop area to upload files*/
.drop_area{
	background-color: #fff;
	border: 2px dashed #bba8ff;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  }

  .drop_area_img{
	margin: 20px 0;
	height: 100px;
  }

  .drop_area.active{
	border: 2px solid #bba8ff;
  }

  .drop_header{
	max-width: 350px;
	word-wrap: break-word;
	hyphens: auto;
	text-align: center;
	font-size: 26px;
	font-weight: 500;
	color: #000;
  }

  .drop_span{
	font-size: 23px;
	font-weight: 500;
	color: #000;
	margin: 10px 0 15px 0;
  }

  .drop_area .btn_style{
	padding: 10px 25px;
	outline: none;
	cursor: pointer;
	margin: 0;
	margin-bottom: 20px;
  }



/*Popup*/

.popup{
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	color: white;
	z-index: 100;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.6s ease 0s;
}

.popup:target{
	opacity: 1;
	visibility: visible;
}
.popup:target .popup_content{
	transform: translate(0px, 0px);
	opacity: 1;
}
.popup:target .body{
	overflow: hidden;
}

.popup_area{
	cursor: default;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.popup_body{
	height: auto;
	width: auto;
	display: flex;
	justify-content: center;
	padding: 30px 10px;
}

.popup_content{
	border-radius: 4px;
	background-color: #fff;
	color: #000;
	max-height: 100%;
	max-width: 450px;
	height: auto;
	padding: 30px;
	position: relative;
	transition: all 0.6s ease 0s;
	opacity: 0;
	transform: translate(0px, -100%);
}

.rate{
	width: 400px;
}

.popup_close{
	position: absolute;
	color: #000;
	text-decoration: none;
	right: 10px;
	top: 10px;
	font-size: 20px;
}
.popup_close img{
	height: 20px;
}


.popup_title{
	padding: 10px;
	padding-left: 0;
	font-size: 30px;
	margin-top: 0.1em;
	margin-bottom: 1em;
}

.popup_text{
	height: 100%;
}

.popup_limits{
	font-size: 16px;
	margin-bottom: 10px;
}

.popup_input{
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	padding: 0 10px;
	font-size: 20px;
	line-height: 30px;
	color: grey;
	background: white;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	outline: none;
	min-height: 38px;
	width: 100%;
	margin-bottom: 15px;
	appearance: none;
}




/*Adaptive*/

@media (max-width: 1900px){
	.content{
		width: 70%;
	}
}

@media (max-width: 1700px){
	.content{
		width: 75%;
	}

	.drop_area_img{
		height: 80px;
	}

	.drop_header{
		font-size: 24px;
	}

	.drop_span{
		font-size: 21px;
	}
}

@media (max-width: 1400px){
	.content{
		width: 80%;
		padding-top: 130px;
	}
}

@media (max-width: 1200px){
	.content{
		width: 90%;
		padding-top: 130px;
	}
}

@media (max-width: 1100px){
	.container{
		padding: 0px 70px;
	}

	.header__name_my{
		font-size: 34px;
	}

	.header__name_asp{
		font-size: 34px;
	}

	.header__logo img{
		height: 80px;
	}

	.detail__body{
		width: 110px;
	}

	.detail__summary_img{
		height: 60px;
	}

	.content{
        width: 100%;
		max-height: 95%;
		padding-top: 120px;
		padding-bottom: 30px;
	}

	.content_text{
		display: block;
		max-width: 100%;
	}

	.btn_style{
		margin-right: 20px;
	}

	.popup_title{
		font-size: 26px;
	}

	.popup_limits{
		font-size: 14px;
	}

	.popup_input{
		font-size: 16px;
	}

	.drop_area_img{
		height: 60px;
	}

	.drop_header{
		font-size: 20px;
	}

	.drop_span{
		font-size: 17px;
	}
}


@media (max-width: 900px){
	.container{
		padding: 0px 50px;
	}

	.button_add{
		margin-bottom: 30px;
	}

	.header__name_my{
		font-size: 28px;
	}

	.header__name_asp{
		font-size: 28px;
	}

	.header__logo img{
		height: 70px;
	}

	.detail__body{
		width: 100px;
	}

	.header__link{
		font-size: 18px;
		line-height: 35px;
	}

	.detail__summary_img{
		height: 60px;
	}
    
    .buttons{
        display: block;
    }

	.buttons .btn_style{
		display: block;
		margin: 0 auto;
		width: min-content;
	}
    
    .button_add .btn_style{
        display: block;
        margin: 0 auto;
		margin-bottom: 15px;
    }

	.buttons:after{
		content:'';
		display: block;
		box-sizing:border-box;
		width: 100%;
		height:2px;
		background:rgb(234, 234, 234);
		border-width:0 .5em 0;
		margin-top: 10px;
	}

	.form_group{
		margin-bottom: 10px;
	}
    
}

@media (max-width: 767px){
	.container{
		padding: 0px 20px;
	}

	.header__name_my{
		font-size: 24px;
	}

	.header__name_asp{
		font-size: 24px;
	}

	.header__logo img{
		height: 60px;
	}

	.detail__body{
		width: 85px;
	}

	.detail__summary_img{
		height: 50px;
	}

	.header__burger{
		width: 30px;
		height: 20px;
		z-index: 3;
	}

	.header__menu{
		position: fixed;
		font-size: 25px;
		max-width: 90%;
		width: auto;
		max-height: 95%;
	}

	.header__list li{
		list-style: none;
		margin: 0 auto;
	}

	.content{
		width: 90%;
		padding-top: 120px;
	}

	summary::after{
		border-top: 7px dashed;
		border-top: 7px solid\9;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
	}

	details[open] summary::after{
    	border-top: 0;
   		border-bottom: 7px solid black;
 	}

     .buttons{
         display: block;
     }

	 .drop_area_img{
		 height: 50px;
	 }
}

@media (max-width: 540px){
	.container{
		padding: 0 10px;
		max-width: 95%;
	}

	.header__body{
		height: 50px;
	}

	.header__name_my{
		font-size: 16px;
	}

	.header__name_asp{
		font-size: 16px;
	}

	.header__logo img{
		height: 40px;
	}

	.detail__body{
		width: 57px;
	}

	.detail__summary_img{
		height: 35px;
	}

	.header__menu{
		top: 49px;
	}

	.header__link{
		font-size: 16px;
		line-height: 33px;
	}

	.content{
		padding-top: 80px;
	}
    
    .buttons{
        display: block;
    }

	.btn_style{
		width: 50%;
		font-size: 0.9rem;
	}

	.drop_area .btn_style{
		font-size: 0.9rem;
		width: auto;
		max-width: 95%;
	}

	.submit{
		font-size: 0.9rem;
	}

	.popup_content{
		max-width: 90%;
	}

	.popup_title{
		font-size: 22px;
	}

	.drop_header{
		max-width: 95%;
	}

	.popup_input{
		font-size: 1rem;
	}

	summary::after{
		border-top: 5px dashed;
		border-top: 5px solid\9;
		border-right: 3px solid transparent;
		border-left: 3px solid transparent;
	}
	
	details[open] summary::after{
    	border-top: 0;
   		border-bottom: 5px solid black;
 	}

	 .content_text{
		width: 100%;
	 }
}

@media (max-width: 335px){
	.container{
		padding: 0px 7px;
		max-width: 95%;
	}

	.header__name_my{
		font-size: 14px;
	}

	.header__name_asp{
		font-size: 14px;
	}

	.header__logo img{
		height: 30px;
	}

	.detail__body{
		width: 43px;
	}

	.detail__summary_img{
		height: 30px;
	}

	.header__link{
		font-size: 14px;
		line-height: 31px;
	}

	.popup_title{
		font-size: 18px;
	}

	.btn_style{
		width: 100%;
		font-size:0.8rem;
	}

	.drop_area .btn_style{
		font-size: 0.9rem;
		width: auto;
		max-width: 95%;
		word-wrap: normal;
		hyphens: auto;
		padding: 10px 5px;
	}

	summary::after{
		border-top: 4px dashed;
		border-top: 4px solid\9;
		border-right: 2px solid transparent;
		border-left: 2px solid transparent;
	}
	
	details[open] summary::after{
    	border-top: 0;
   		border-bottom: 4px solid black;
 	}

	.content_text{
		width: 100%;
	}
}