@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

/*Обнуление*/

*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,body{
	height: 100%;
	font-family: 'Didact Gothic', sans-serif;
}





/*Preloader*/

.preloader {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: white;
      z-index: 1001;
    }

.preloader__row {
      position: relative;
      top: 50%;
      left: 50%;
      width: 70px;
      height: 70px;
      margin-top: -35px;
      margin-left: -35px;
      text-align: center;
      animation: preloader-rotate 1s infinite linear;
    }

.preloader__item {
      position: absolute;
      display: inline-block;
      top: 0;
      background-color: #337ab7;
      border-radius: 100%;
      width: 35px;
      height: 35px;
      animation: preloader-bounce 2s infinite ease-in-out;
    }

.preloader__item:last-child {
      top: auto;
      bottom: 0;
      animation-delay: -1s;
    }

@keyframes preloader-rotate {
      100% {
        transform: rotate(360deg);
      }
    }

@keyframes preloader-bounce {
      0%,
      100% {
        transform: scale(0);
      }

      50% {
        transform: scale(1);
      }
    }

.loaded_hiding .preloader {
      transition: 0.3s opacity;
      opacity: 0;
    }

.loaded .preloader {
      display: none;
    }





/*Header details triangle*/

summary::after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	margin-left: 5px;
	border-top: 8px dashed;
	border-top: 8px solid\9;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}
details[open] summary::after{
    border-top: 0;
    border-bottom: 8px solid black;
 }





/*Header*/

.container{
	max-width: 90%;
	margin: 0px auto;
	padding: 0px 100px;
}

.header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: white;
	border: 1px solid white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.header__body{
	justify-content: space-between;
	position: relative;
	z-index: 2;
	display: flex;
	height: 80px;
	align-items: center;
}

.header__logo{
	overflow: hidden; 
}

.header__logo img{
	height:100px;
	display: block;
}

.header__name_my{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 40px;
	line-height: 63px;
	color: #1400FF;
}

.header__name_asp{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 40px;
	line-height: 63px;
	color: #FF0000;
	margin-left: 6px;
}

.header__burger{
	z-index: 3;
}

summary {
	list-style: none;
}
  
 summary::-webkit-details-marker {
	display: none;
}

.detail__body{
	width: 140px;
    cursor: pointer;
}

.detail__summary{
	cursor: pointer;
	text-align: center;
}

.detail__summary_img{
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
}

.header__menu{
	position: fixed;
	top: 75px;
	max-width: 40%;
	width: auto;
	right: 1%;
	max-height: 90%;
	height: auto;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	z-index: 2;
}

.header__list{
	display: block;
	position: relative;
	z-index: 2;
}

.header__list li:hover{
	border-radius: 6px;
	transition: background-color .15s ease-in-out;
	background-color: #f0f0f0;
}

.header__list li{
	list-style: none;
	padding: 0px 20px;
}

.header__link{
	display: block;
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 19px;
	line-height: 40px;
	text-align: left;
	color:#545454;
	text-transform: uppercase;
	text-decoration: none;
}





/*Content*/
								
.content{
	width: 70%;
	margin: 0px auto;
	padding-top: 150px;
}

.content_text{
	width: 100%;
	display: block;
}

.content_text h1{
	font-size: 30px;
	text-align: center;
	margin-bottom: 50px;
}

.employee{
	display: flex;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 10px 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;
}

.employee_all h1{
	margin-bottom: 10px;
}

.emp_body::after{
	content:"";
	display: block;
	box-sizing:border-box;
	width: 100%;
	height: 2px;
	background:rgba(240, 240, 240, 0.8);
	border-width:0 .5em 0;
	margin-bottom: 30px;
}
.emp_body:last-of-type::after{
	display: none;
}

.flex_info{
	display: block;
	margin: auto 0;
	width: max-content;
}

.employee_img{
	width: 300px;
	display: block;
	margin: 0 auto;
	padding: 20px;
}
.second{
	display: none;
}

.employee_all{
	width: max-content;
	margin: 0 auto;
	margin-top: 50px;
}

.cap{
	margin-top: 0;
	display: block;
	text-align: center;
}


/*Adaptive*/
@media (max-width: 1900px){
	.content{
		width: 70%;
	}
}

@media (max-width: 1700px){
	.content{
		width: 75%;
	}
}

@media (max-width: 1400px){
	.content{
		width: 80%;
		padding-top: 130px;
	}

	.employee_img{
		width: 250px;
	}
}

@media (max-width: 1200px){
	.content{
		width: 90%;
		padding-top: 130px;
	}
}

@media (max-width: 1100px){
	.container{
		padding: 0px 70px;
	}

	.header__name_my{
		font-size: 34px;
	}

	.header__name_asp{
		font-size: 34px;
	}

	.header__logo img{
		height: 80px;
	}

	.detail__body{
		width: 110px;
	}

	.detail__summary_img{
		height: 60px;
	}

	.content{
		max-height: 95%;
		padding-top: 120px;
		padding-bottom: 30px;
	}

	.content_text{
		display: block;
		max-width: 100%;
	}

	.content_text h1{
		font-size: 26px;
	}
	
	.employee{
		font-size: 16px;
		line-height: 24px;
	}
}

@media (max-width: 900px){
	.container{
		padding: 0px 50px;
	}

	.header__name_my{
		font-size: 28px;
	}

	.header__name_asp{
		font-size: 28px;
	}

	.header__logo img{
		height: 70px;
	}

	.header__link{
		font-size: 18px;
		line-height: 35px;
	}

	.detail__body{
		width: 100px;
	}

	.detail__summary_img{
		height: 60px;
	}

	.content_text h1{
		font-size: 24px;
	}
	
	.employee{
		font-size: 14px;
		line-height: 20px;
	}

	.employee_img{
		width: 200px;
	}
}

@media (max-width: 767px){
	.container{
		padding: 0px 20px;
	}

	.header__name_my{
		font-size: 24px;
	}

	.header__name_asp{
		font-size: 24px;
	}

	.header__logo img{
		height: 60px;
	}

	.detail__body{
		width: 85px;
	}

	.detail__summary_img{
		height: 50px;
	}

	.header__burger{
		width: 30px;
		height: 20px;
		z-index: 3;
	}

	.header__menu{
		position: fixed;
		font-size: 25px;
		max-width: 90%;
		width: auto;
		max-height: 95%;
		background-color: white;
	}

	.header__list li{
		list-style: none;
		margin: 0 auto;
	}

	.content{
		width: 90%;
		padding-top: 120px;
	}

	summary::after{
		border-top: 7px dashed;
		border-top: 7px solid\9;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
	}

	details[open] summary::after{
    	border-top: 0;
   		border-bottom: 7px solid black;
 	}

	 .content_text h1{
		 font-size: 22px;
	 }
}

@media (max-width: 630px){
	.employee{
		display: block;
	}

	.flex_info{
		text-align: center;
		margin: auto;
	}

	.second{
		display: block;
	}

	.right .employee_img:last-of-type{
		display: none;
	}
}

@media (max-width: 540px){
	.container{
		padding: 0 10px;
		max-width: 95%;
	}

	.header__body{
		height: 50px;
	}

	.header__name_my{
		font-size: 16px;
	}

	.header__name_asp{
		font-size: 16px;
	}

	.header__logo img{
		height: 40px;
	}

	.detail__body{
		width: 57px;
	}

	.detail__summary_img{
		height: 35px;
	}

	.header__menu{
		top: 49px;
	}

	.header__link{
		font-size: 16px;
		line-height: 33px;
	}

	.content{
		padding-top: 80px;
	}

	summary::after{
		border-top: 5px dashed;
		border-top: 5px solid\9;
		border-right: 3px solid transparent;
		border-left: 3px solid transparent;
	}
	
	details[open] summary::after{
    	border-top: 0;
   		border-bottom: 5px solid black;
 	}

	.employee{
		font-size: 12px;
	}
}

@media (max-width: 335px){
	.container{
		padding: 0;
		max-width: 95%;
	}

	.content_text{
		max-width: 100%;
	}

	.header__name_my{
		font-size: 14px;
	}

	.header__name_asp{
		font-size: 14px;
	}

	.header__logo img{
		height: 30px;
	}

	.detail__body{
		width: 43px;
	}

	.detail__summary_img{
		height: 30px;
	}

	.header__link{
		font-size: 14px;
		line-height: 31px;
	}

	summary::after{
		border-top: 4px dashed;
		border-top: 4px solid\9;
		border-right: 2px solid transparent;
		border-left: 2px solid transparent;
	}
	
	details[open] summary::after{
    	border-top: 0;
   		border-bottom: 4px solid black;
 	}

	.employee{
		padding: 10px 0;
	}
}