@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&display=swap');

/*Обнуление*/

*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,body{
	zoom: normal;
	height: 100%;
	font-family: 'Didact Gothic', sans-serif;
}



/*Preloader*/

.preloader {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: white;
      z-index: 1001;
    }

.preloader__row {
      position: relative;
      top: 50%;
      left: 50%;
      width: 70px;
      height: 70px;
      margin-top: -35px;
      margin-left: -35px;
      text-align: center;
      animation: preloader-rotate 1s infinite linear;
    }

.preloader__item {
      position: absolute;
      display: inline-block;
      top: 0;
      background-color: #337ab7;
      border-radius: 100%;
      width: 35px;
      height: 35px;
      animation: preloader-bounce 2s infinite ease-in-out;
    }

.preloader__item:last-child {
      top: auto;
      bottom: 0;
      animation-delay: -1s;
    }

@keyframes preloader-rotate {
      100% {
        transform: rotate(360deg);
      }
    }

@keyframes preloader-bounce {
      0%,
      100% {
        transform: scale(0);
      }

      50% {
        transform: scale(1);
      }
    }

.loaded_hiding .preloader {
      transition: 0.3s opacity;
      opacity: 0;
    }

.loaded .preloader {
      display: none;
    }



/*Header details triangle*/

.caret{
	display: inline-block;
	width: 0;
	height: 0;
	margin-top: -50%;
	margin-left: 5px;
	vertical-align: middle;
	border-top: 8px dashed;
	border-top: 8px solid\9;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}
.caret-up {
    border-top-width: 0;
    border-bottom: 8px solid black;
 }



/*Header*/

.container{
	max-width: 90%;
	margin: 0px auto;
	padding: 0px 100px;
}

.header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: white;
	border: 1px solid white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.header__body{
	justify-content: space-between;
	position: relative;
	z-index: 2;
	display: flex;
	height: 80px;
	align-items: center;
}

.header__logo{
	border-radius: 50%;
	overflow: hidden; 
}

.header__logo img{
	height:100px;
	display: block;
}

.header__name_my{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 40px;
	line-height: 63px;
	color: #1400FF;
}

.header__name_asp{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 40px;
	line-height: 63px;
	color: #FF0000;
	margin-left: 6px;
}

.header__burger{
z-index: 3;
}

.detail__body{
    cursor: pointer;
}

.detail__summary{
	list-style: none;
	cursor: pointer;
}

.detail__summary_img{
	height: 50px;
	border-radius: 50%;
	overflow: hidden; 
}

.header__menu{
	position: fixed;
	top: 75px;
	max-width: 40%;
	width: auto;
	right: 1%;
	max-height: 90%;
	height: auto;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	z-index: 2;
}

.header__list{
	display: block;
	position: relative;
	z-index: 2;
}

.header__list li:hover{
	border-radius: 6px;
	background-color: #D9D9D9;
}

.header__list li{
	list-style: none;
	padding: 0px 20px;
}

.header__link{
	display: block;
	width: 100%;
	height: 100%;
	font-family: 'Didact Gothic', sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 40px;
	text-align: left;
	color:#545454;
	text-transform: uppercase;
	text-decoration: none;
}





/*Content*/
								
.content{
	width: 100%;
	padding-top: 130px;
	padding-left: 22%;
	padding-right: 22%;
	margin: 0px auto;
}

.content_text{
	justify-content: space-between;
	display: flex;
}

.personal_display{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 24px;
	line-height: 27px;
	display: inline-block;
}

.personal_photo{
	height: 500px;
	width: 280px;
	border: 1px solid black;
}

.personal_info{

}

.personal_science{
	margin-top: 30px;
}

.personal_contacts{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 23px;
	display: inline-block;
	margin-top: 2%;
}

.buttons{
	display: inline-block;
	padding-bottom: 40px;
}

.buttons_style{
	margin-top: 8px;
	font-family: 'Didact Gothic', sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	width: 150px;
	height: 40px;
	background: #F1F1F1;
	border: 1px solid #7A7A7A;
	border-radius: 9px; 
}

.buttons_style:hover{
	
}



/*Adaptive*/

@media (max-width: 1100px){
	.container{
		padding: 0px 70px;
	}

	.header__name_my{
		font-size: 34px;
	}

	.header__name_asp{
		font-size: 34px;
	}

	.header__logo img{
		height: 80px;
	}

	.detail__summary_img{
		height: 40px;
	}

	.content{
		display: flex;
	}

	.content_text{
		justify-content: none;
		display: flex;
		margin: 0px auto;
	}

	.personal_photo{
		height: 300px;
	}

	.personal_info{
		margin-top: 20px;
	}

	.personal_science{
		margin-top: 20px;
	}

	.personal_contacts{
		margin-top: 20px;
	}

	.buttons{
		display: flex;
		margin-top: 20px;
	}

	.buttons_style{
		margin-right: 10px;
	}
}

@media (max-width: 900px){
	.container{
		padding: 0px 50px;
	}

	.header__name_my{
		font-size: 28px;
	}

	.header__name_asp{
		font-size: 28px;
	}

	.header__logo img{
		height: 70px;
	}

	.detail__summary_img{
		height: 35px;
	}
}

@media (max-width: 767px){
	.container{
		padding: 0px 20px;
	}

	.header__body{
		height: 50px;
	}

	.header__name_my{
		font-size: 20px;
	}

	.header__name_asp{
		font-size: 20px;
	}

	.header__logo img{
		height: 60px;
	}

	.detail__summary_img{
		height: 30px;
	}

	.header__burger{
		width: 30px;
		height: 20px;
		z-index: 3;
	}

	.header__menu{
		position: fixed;
		top: 49px;
		font-size: 25px;
		max-width: 90%;
		width: auto;
		max-height: 95%;
		background-color: white;
	}

	.header__list li{
		list-style: none;
		margin: 0 auto;
	}

	.caret{
		margin-top: -50%;
		margin-left: 2px;
		vertical-align: middle;
		border-top: 7px dashed;
		border-top: 7px solid\9;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
	}

	.caret-up {
    	border-top-width: 0;
   		border-bottom: 7px solid black;
 	}
}

@media (max-width: 450px){
	.container{
		padding: 0 10px;
		max-width: 95%;
	}

	.header__name_my{
		font-size: 16px;
	}

	.header__name_asp{
		font-size: 16px;
	}

	.header__logo img{
		height: 40px;
	}

	.detail__summary_img{
		height: 20px;
	}

	.header__link{
		font-size: 16px;
	}
	.caret{
		margin-top: -40%;
		margin-left: 2px;
		vertical-align: middle;
		border-top: 5px dashed;
		border-top: 5px solid\9;
		border-right: 3px solid transparent;
		border-left: 3px solid transparent;
	}
	
	.caret-up {
    	border-top-width: 0;
   		border-bottom: 5px solid black;
 	}
}

@media (max-width: 320px){
	.container{
		padding: 0px 2px;
		max-width: 100%;
	}

	.header__name_my{
		font-size: 14px;
	}

	.header__name_asp{
		font-size: 14px;
	}

	.header__logo img{
		height: 30px;
	}

	.detail__summary_img{
		height: 15px;
	}

	.header__link{
		font-size: 14px;
	}

	.caret{
		margin-top: -25%;
		margin-left: 2px;
		vertical-align: middle;
		border-top: 4px dashed;
		border-top: 4px solid\9;
		border-right: 2px solid transparent;
		border-left: 2px solid transparent;
	}
	
	.caret-up {
    	border-top-width: 0;
   		border-bottom: 4px solid black;
 	}
}